[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/bookworm"]
	path = themes/bookworm
	url = https://github.com/gethugothemes/bookworm.git
